<div class="header_container">
    <div class="header_left">
        <div class="header_leftleft">
            <a href="./python_visualization" class="header">Visualization</a>
        </div>
        <div class="header_leftleft">
            <a href="./python_references" class="header">References</a>
        </div>
        <div class="header_leftleft">
            <a href="./visualization" class="header"></a>
        </div>
    </div>
    <div class="header_right">
        <div class="header_rightright"></div>
        <a href="./" class="header">Home</a>
    </div>

</div>