<div class="header_container">
    <div class="header_left">
        <div class="header_leftmost">
            <a href="./julia_columns" class="header">Columns</a>
        </div>
        <div class="header_leftmost">
            <a href="./julia_rows" class="header">Rows</a>
        </div>
        <div class="header_leftmost">
            <a href="./julia_visualization" class="header">Visualization</a>
        </div>
    </div>
    <div class="header_right">
        <div class="header_rightmost"></div>
        <a href="./" class="header">Dataframes</a>
    </div>

</div>