<div class="header_container">
    <div class="header_left">
        <div class="header_leftmost">
            <a href="./pandas_columns" class="header">Columns</a>
        </div>
        <div class="header_leftmost">
            <a href="./pandas_rows" class="header">Rows</a>
        </div>
        <div class="header_leftmost">
            <a href="./python_visualization" class="header">Visualization</a>
        </div>
    </div>
    <div class="header_right">
        <div class="header_rightmost">
            <a href="./python" class="header">Python</a>
        </div>
        <div class="header_rightmost">
            <a href="./" class="header">Dataframes</a>
        </div>
    </div>
</div>