:root {
  --margin_xs: 8px!important;
  --margin_s: 16px!important;
  --margin_m: 32px!important;
  --margin_l: 64px!important;
  --margin_l_neg: -60px!important;
}

* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}

body {
  font-size: 16px;
  line-height: 20px;
  color: black;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  padding-top: 15px;
  padding-bottom: 15px;
}

ul {
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  padding-left: 64px;
}

li {
  color: black;
  list-style-type: disc;
  list-style-type: circle;
  padding-top: 2px;
  padding-bottom: 2px;
}


h1 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 50px 200px  20px  0px;
  color: black;

}
h2 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 40px 0px 10px  0px;

}
h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 20px 0px 10px  0px;

}
h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: px;
  padding: 20px 0px  10px  0px;
}
img {
  /* Decisive to keep the picture in the flexbox! */
  max-width: 100%;
}

strong {
  color: var(--blue90);
  font-weight: 900;
}


a {
  color: var(--blue70);
  text-decoration: underline;
}
a:visited  {
  color: var(--blue50);
  text-decoration: underline;
}
a:hover, a:active {
  color: var(--green70);
  color: var(--green50);
  text-decoration: underline;
}

myCodingCell {
  background-color: #ebebf3;
  color: black;
}

blockquote {
    background-color: #ebebf3;
    page-break-inside: auto;
    page-break-inside: inherit ;
    width: 90%;
    margin: 5px auto 5px 60px;
    padding: 10px 30px 10px 40px;
    font-size: 16px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-left: 8px solid var(--blue10);
}


/*  Table */
table {
  width: 95%;
  border: 2px solid var(--blue80); 
  padding:10px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

/*  Table Header */
th {
  height: 36px;
  border: 2px solid var(--blue90); 
  padding:10px;
  background-color: var(--blue50);
  text-align: center;
  color: var(--blue10);
}

/*  Table Body */
td {
  color: var(--blue90);
  border: 1px solid  var(--blue80); 
  padding:5px  20px 5px 20px;
  text-align: left; 
  /* text-align: right;  */
}