<div class="header_container">
    <div class="header_left">
        <div class="header_leftleft">
            <a href="./pandas" class="header">Python</a>
        </div>
        <div class="header_leftleft">
            <a href="./julia" class="header">Julia</a>
        </div>
        <div class="header_leftleft">
            <a href="./visualization" class="header">Visualization</a>
        </div>
    </div>
    <div class="header_right">
        <div class="header_rightright"></div>
        <a href="./references" class="header">References</a>
    </div>

</div>