.header_container {
  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  text-align: justify;
  width: 400px;
  justify-content: space-between;
}
.header_leftmost {
  width: 150px;
  height: 50px;
  justify-content: space-between;
}

.header_right {
  display: flex;
  min-width: 800px;
  justify-content: right;
}

.header_rightmost {
  flex-basis: 1 1 400px;
  min-width: 200px;
  justify-content: space-between;
}


a.header, a.header:visited  {
  text-decoration: none;
  color: grey;
  font-size: 18px;
}

a.header:hover, a.header:active {
  color: var(--blue90);
  color: grey;
  text-decoration: none;
  text-decoration: underline;
  font-size: 18px;
}