.header_container {
  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  text-align: justify;
  width: 500px;
  justify-content: space-between;
}
.header_leftleft {
  width: 150px;
  height: 50px;
  text-align: justify;
}

.header_right {
  flex-basis: 1 1 200px;
  display: flex;
  text-align: justify;
  width: 150px;
  min-width: 100px;
  justify-content: space-between;
  justify-content: right;
}
.header_rightright {
  width: 150px;
  height: 50px;
  min-width: 150px;
  text-align: justify;
}


/* .header_right {
  flex-basis: 1 1 300px;
  Parent: login_container
  flex: 1;
  text-align: right;
} */

a.header, a.header:visited  {
  text-decoration: none;
  color: grey;
  font-size: 18px;
}

a.header:hover, a.header:active {
  color: var(--blue90);
  color: grey;
  text-decoration: none;
  text-decoration: underline;
  font-size: 18px;
}